/* Main properties */
html,body{
  font-size:16px;
  line-height:1.5;
  color: black;
  font-family: 'Raleway', sans-serif;
}


h1 {
  font-size: 64px;
  padding:0px 0px 2px 0px;
  color: #505166;
  margin: 2px 0px;
  font-family: cursive;
}

h2 {
  font-size: 26px;
  margin: 8px 0px 16px 0px;
  font-family: 'Source Code Pro', monospace;
  color: #505166;
}

h3 {
  font-size: 22px;
  margin: 4px;
  font-family: 'Source Code Pro', monospace;
}

p {
  padding-left: 16px;
  margin: 8px 0;
}

a {
  text-decoration: none;
  color: #505166;
}

a:hover {
  opacity: 60%;
}

a:visited {
  text-decoration: none;
}

hr {
  border:0;
  margin:16px 0;
}

ul {
  margin:  0;
  padding: 0 16px;
}

li {
  margin-bottom: 8px;
}

/* Containers */

.header {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 16px;
  padding: 8px 16px;
  box-shadow:0 2px 5px 0 #b3b6bd, 0 2px 10px 0 #b3b6bd;
}

.footer {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.main-container {
  margin: 8px auto;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
}

.left-column {
  flex: 0 0 25%;
  min-width: 350px;
  margin-right: 16px;
}

.right-column {
  flex: 2 1;
}

.card{
  margin: 16px 0;
  padding: 4px 16px 16px 16px;
  box-shadow:0 2px 5px 0 #b3b6bd, 0 2px 10px 0 #b3b6bd;
  display: flex;
  flex-wrap: wrap;
}

.contact-card {
  margin: 16px 0;
  padding-bottom: 8px;
  box-shadow:0 2px 5px 0 #b3b6bd, 0 2px 10px 0 #b3b6bd;
}

.profile-picture {
  position: relative;
}

.logo {
  position: relative;
}
.center{
  text-align:center;
}

.margin{
  margin:16px;
}

.margin-top{
  margin-top:16px;
}

.margin-bottom{
  margin-bottom:16px;
}

.margin-left{
  margin-left:16px;
}

.margin-right{
  margin-right:16px;
}

/* Fonts */
.baskerville {
  font-family: 'Libre Baskerville', serif;
}

.playfairdisplay {
  font-family: 'Playfair Display', serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.scope-one {
  font-family: 'Scope One', serif;
}

.source-code {
  font-family: 'Source Code Pro', monospace;
}

.stalemate {
  font-family: 'Stalemate', cursive;
}

.allura {
  font-family: 'Allura', cursive;
}

/* Colors */
.dark-purple {
  background-color: #505166;
}

.cream {
  background-color: #f3f0ec;
}

.light-smoke {
  background-color: #b3b6bd;
}

.smokey-purple {
  background-color: #69657f;
}

.light-grey {
  background-color: #F0EDF3;
}
